@charset "utf-8";
@import "styles/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}
